@media (min-width: 50px) and (max-width: 767.98px) {
    .a {
        display: none !important;
    }

    .h {
        display: none !important;
    }

    .e {
        justify-content: center !important;
        display: grid;
        padding-bottom: 0px !important;
    }

    .f {
        text-align: center;
        font-size: 20px !important;
        margin-bottom: 2px !important;
    }

    .g {
        font-size: 55px !important;
    }

    .j {
        font-size: 18px !important;
    }

    .l .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .m .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .n {
        order: 2;
    }

    .o {
        order: 1;
        align-self: center;
    }

    .p {
        flex-direction: column !important;
    }

    .text-inner {
        width: 100%;
    }

    .main-business-tools-text {
        display: block !important;
    }

    .text-button a {
        display: inline !important;
        margin-top: 20px;
    }

    .text-button {
        margin-top: 30px;
    }

    .container {
        max-width: 540px;
    }

    .main-business-tools-card .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .s {
        margin: 0px 0px 0px 0px !important;
    }

    .t {
        flex-direction: column !important;
    }

    .u {
        width: 70% !important;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {
    .a {
        display: none !important;

    }

    .g {
        font-size: 30px !important;
        margin-top: 20px;
        margin-left: 30px !important;

    }

    .e {
        padding: 16px 0px 12px 20px !important;

    }

    .h {
        font-size: 20px !important;
    }

    .k {
        text-align: center;
    }

    .text-inner {
        width: 75%;
    }

    .s {
        margin: 0px 240px 0px 0px !important;
    }

    .u {
        width: 100% !important;
    }

    .t {
        align-items: center;
    }

    .footer-card .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}


@media (min-width: 992px) and (min-width: 1199.98) {}













.hovering:hover {
    color: #216F62 !important;
}

.s {
    margin: 0% 60% 0% 0%;
}